.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Page {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(15, 15, 15);
  padding-top: 30px;
  color: silver;
}

.Card {
  background-color: rgb(29, 28, 28);
  padding: 70px;
  padding-left: 130px;
  padding-right: 130px;
  margin-top: 30px;
  margin-bottom: 150px;
  border-radius: 20px;
}
.ItemCard {
  padding-top: 50px;
  padding-left: 130px;
  padding-right: 130px;
  margin-top: 10px;
  border-radius: 20px;
}

.SignupBody {
  font-size: 1em;
  justify-content: left;
  text-align: left;
}

.Center {
  justify-content: center;
  text-align: center;
}

.SignupBody input {
  width: 100%;
  border-radius: 25px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: rgb(32, 194, 105);
  border-width: 2px;
  border-style: solid;
  background: transparent;
  color: rgb(33, 187, 102);
}

.SignupBody span {
  color: rgb(32, 194, 105);
}

.Checkbox {
  color: rgb(32, 194, 105);
  background: transparent;
  height: 50px;
  width: 50px;
}

.Button {
  color: rgb(29, 28, 28);
  background-color: rgb(32, 194, 105);
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(32, 194, 105);
  font-size: 1em;
  font-weight: 500;
}

.pgButton {
  color: rgb(29, 28, 28);
  background-color: rgb(32, 194, 105);
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(245, 245, 245);
  font-size: 0.8em;
  font-weight: 500;
  color: white;
}

@media (max-width: 801px) {
  .Page {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(15, 15, 15);
    padding-top: 30px;
    color: silver;
  }

  .Card {
    background-color: rgb(29, 28, 28);
    padding: 70px;
    padding-left: 90px;
    padding-right: 90px;
    margin: 10px;
    margin-top: -100px;
    margin-bottom: 50px;
    border-radius: 20px;
  }

  .SignupBody {
    font-size: 0.4em;
    justify-content: left;
    text-align: left;
  }

  .Center {
    justify-content: center;
    text-align: center;
  }

  .SignupBody input {
    width: 100%;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: rgb(32, 194, 105);
    border-width: 2px;
    border-style: solid;
    background: transparent;
    color: rgb(33, 187, 102);
  }

  .SignupBody span {
    color: rgb(32, 194, 105);
    font-size: 0.6rem;
  }

  .Checkbox {
    color: rgb(32, 194, 105);
    background: transparent;
    height: 20px;
    width: 20px;
  }

  .Button {
    color: rgb(29, 28, 28);
    background-color: rgb(32, 194, 105);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(32, 194, 105);
    font-size: 1em;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .Page {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(15, 15, 15);
    padding-top: 30px;
    color: silver;
  }

  .Card {
    background-color: rgb(29, 28, 28);
    padding: 70px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
  }

  .SignupBody {
    font-size: 0.8em;
    justify-content: left;
    text-align: left;
  }

  .Center {
    justify-content: center;
    text-align: center;
  }

  .SignupBody input {
    width: 80%;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: rgb(32, 194, 105);
    border-width: 2px;
    border-style: solid;
    background: transparent;
    color: rgb(33, 187, 102);
  }

  .SignupBody span {
    color: rgb(32, 194, 105);
    font-size: 0.6rem;
  }

  .Checkbox {
    color: rgb(32, 194, 105);
    background: transparent;
    height: 20px;
    width: 20px;
  }

  .Button {
    color: rgb(29, 28, 28);
    background-color: rgb(32, 194, 105);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(32, 194, 105);
    font-size: 1em;
    font-weight: 500;
  }
}
